/*    ==Параметры сценариев==

    Версия исходного сервера : SQL Server 2019 (15.0.2080)
    Выпуск исходного ядра СУБД : Выпуск Microsoft SQL Server Enterprise Edition
    Тип исходного ядра СУБД : Изолированный SQL Server

    Версия целевого сервера : SQL Server 2019
    Выпуск целевого ядра СУБД : Выпуск Microsoft SQL Server Enterprise Edition
    Тип целевого ядра СУБД : Изолированный SQL Server
*/
USE [master]
GO
/****** Object:  Database [ydodb]    Script Date: 01.06.2022 1:50:41 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ydodb')
BEGIN
CREATE DATABASE [ydodb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ydodb', FILENAME = N'G:\Databasses\ydodb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ydodb_log', FILENAME = N'G:\Databasses\ydodb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Cyrillic_General_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ydodb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [user1]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'user1')
CREATE LOGIN [user1] WITH PASSWORD=N'0lLn/Rn/FyrcibI77tbiQsWQViFVZvneSewZXD0hL10=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=OFF
GO
ALTER LOGIN [user1] DISABLE
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\Winmgmt')
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLWriter')
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLTELEMETRY')
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT SERVICE\SQLSERVERAGENT')
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT Service\MSSQLSERVER')
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [NT AUTHORITY\СИСТЕМА]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'NT AUTHORITY\СИСТЕМА')
CREATE LOGIN [NT AUTHORITY\СИСТЕМА] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/****** Object:  Login [DESKTOP-QCJ91CH\Даниил]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'DESKTOP-QCJ91CH\Даниил')
CREATE LOGIN [DESKTOP-QCJ91CH\Даниил] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyTsqlExecutionLogin##')
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'ittL2BtRVMWKoDpo1e4MTtAxrVvJ9HZt5fIrw9KUeWY=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'iWNdCmXfB4Owzi5oSiZm66kp3iOAP7w9CHVz4xwqv7M=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[русский], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER AUTHORIZATION ON DATABASE::[ydodb] TO [sa]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [user1]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [DESKTOP-QCJ91CH\Даниил]
GO
USE [ydodb]
GO
/****** Object:  User [user1]    Script Date: 01.06.2022 1:50:42 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'user1')
CREATE USER [user1] FOR LOGIN [user1] WITH DEFAULT_SCHEMA=[dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
GRANT CONNECT TO [user1] AS [dbo]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 01.06.2022 1:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Clients]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Clients](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Second_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Last_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Company_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[phone_number] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Image] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Clients] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Contracts]    Script Date: 01.06.2022 1:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contracts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contracts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Avance] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[First_part] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Parts_count] [int] NULL,
	[Second_part] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Third_part] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Fourth_part] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
	[Avance_date] [date] NOT NULL,
	[First_part_date] [date] NULL,
	[Second_part_date] [date] NULL,
	[Third_part_date] [date] NULL,
	[Fourth_part_date] [date] NULL,
	[Client_id] [int] NOT NULL,
	[Manager_id] [int] NOT NULL,
	[Type_id] [int] NOT NULL,
	[Payded] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_Contracts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Contracts] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Manager]    Script Date: 01.06.2022 1:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Manager]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Manager](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Second_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Last_name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Phone] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Login] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Password] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
	[Image] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NULL,
 CONSTRAINT [PK_Manager] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Manager] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[Types]    Script Date: 01.06.2022 1:50:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Types]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE Cyrillic_General_CI_AS NOT NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
ALTER AUTHORIZATION ON [dbo].[Types] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [First_name], [Second_name], [Last_name], [Company_name], [phone_number], [Image]) VALUES (1, N'Федоров', N'Максим', N'Викторович', N'ОмскНТР', N'+79991795959', NULL)
INSERT [dbo].[Clients] ([ID], [First_name], [Second_name], [Last_name], [Company_name], [phone_number], [Image]) VALUES (2, N'Милько', N'Иван', N'Сергеевич', N'OrangeBanch', N'+79136460360', NULL)
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Contracts] ON 

INSERT [dbo].[Contracts] ([ID], [Price], [Avance], [First_part], [Parts_count], [Second_part], [Third_part], [Fourth_part], [Avance_date], [First_part_date], [Second_part_date], [Third_part_date], [Fourth_part_date], [Client_id], [Manager_id], [Type_id], [Payded]) VALUES (4, N'1500000.00', N'500000.00', N'250000.00', NULL, N'250000.00', N'250000.00', N'250000', CAST(N'2022-06-20' AS Date), CAST(N'2022-06-30' AS Date), CAST(N'2022-07-15' AS Date), NULL, CAST(N'2022-07-30' AS Date), 1, 1, 1, NULL)
INSERT [dbo].[Contracts] ([ID], [Price], [Avance], [First_part], [Parts_count], [Second_part], [Third_part], [Fourth_part], [Avance_date], [First_part_date], [Second_part_date], [Third_part_date], [Fourth_part_date], [Client_id], [Manager_id], [Type_id], [Payded]) VALUES (6, N'1500000.00', N'500000.00', N'250000.00', NULL, N'250000.00', N'250000.00', N'250000', CAST(N'2022-06-20' AS Date), CAST(N'2022-06-30' AS Date), CAST(N'2022-07-15' AS Date), NULL, CAST(N'2022-07-30' AS Date), 1, 1, 2, NULL)
INSERT [dbo].[Contracts] ([ID], [Price], [Avance], [First_part], [Parts_count], [Second_part], [Third_part], [Fourth_part], [Avance_date], [First_part_date], [Second_part_date], [Third_part_date], [Fourth_part_date], [Client_id], [Manager_id], [Type_id], [Payded]) VALUES (7, N'1500000.00', N'500000.00', N'250000.00', NULL, N'250000.00', N'250000.00', N'250000', CAST(N'2022-06-20' AS Date), CAST(N'2022-06-30' AS Date), CAST(N'2015-07-15' AS Date), NULL, CAST(N'2022-07-30' AS Date), 1, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Contracts] OFF
GO
SET IDENTITY_INSERT [dbo].[Manager] ON 

INSERT [dbo].[Manager] ([ID], [First_name], [Second_name], [Last_name], [Phone], [Login], [Password], [Image]) VALUES (1, N'Игнатьев', N'Даниил', N'Александрович', N'+79293691030', N'daniil', N'252525', NULL)
INSERT [dbo].[Manager] ([ID], [First_name], [Second_name], [Last_name], [Phone], [Login], [Password], [Image]) VALUES (2, N'System', N'Server', N'Admin', N'no phone', N'admin', N'admin', NULL)
SET IDENTITY_INSERT [dbo].[Manager] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([ID], [Name]) VALUES (1, N'Поставка оборудования')
INSERT [dbo].[Types] ([ID], [Name]) VALUES (2, N'Поставка и установка оборудования')
INSERT [dbo].[Types] ([ID], [Name]) VALUES (3, N'Обслуживание оборудования')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF_Contracts_Parts_count]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Contracts] ADD  CONSTRAINT [DF_Contracts_Parts_count]  DEFAULT ((1)) FOR [Parts_count]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Clients] FOREIGN KEY([Client_id])
REFERENCES [dbo].[Clients] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Clients]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Clients]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Manager]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Manager] FOREIGN KEY([Manager_id])
REFERENCES [dbo].[Manager] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Manager]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Manager]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Types]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Types] FOREIGN KEY([Type_id])
REFERENCES [dbo].[Types] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Types]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Types]
GO
/****** Object:  Statistic [_WA_Sys_00000002_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000002_239E4DCF] ON [dbo].[Clients]([First_name]) WITH STATS_STREAM = 0x0100000001000000000000000000000019358B6F000000003302000000000000F301000000000000E702FFFFE7000000640000000000000015D00000000000000700000047568201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002D000000000000006F0000000000000077000000000000007F000000000000000800000000000000300010000000803F000000000000803F040000010025002404350434043E0440043E043204FF0100000000000000010000000100000028000000280000000000000000000000070000002404350434043E0440043E04320402000000400000000001070000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000003_239E4DCF] ON [dbo].[Clients]([Second_name]) WITH STATS_STREAM = 0x0100000001000000000000000000000064B54193000000002F02000000000000EF01000000000000E7020000E7000000640000000000000015D00000E70000000700000046568201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F040000010023001C0430043A04410438043C04FF0100000000000000010000000100000028000000280000000000000000000000060000001C0430043A04410438043C0402000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000004_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000004_239E4DCF] ON [dbo].[Clients]([Last_name]) WITH STATS_STREAM = 0x0100000001000000000000000000000088BCA2DF000000003F02000000000000FF01000000000000E7020000E7000000640000000000000015D00000010000000700000046568201A4AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0410000803F000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000033000000000000007B0000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002B00120438043A0442043E0440043E04320438044704FF01000000000000000100000001000000280000002800000000000000000000000A000000120438043A0442043E0440043E04320438044704020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000005_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000005_239E4DCF] ON [dbo].[Clients]([Company_name]) WITH STATS_STREAM = 0x01000000010000000000000000000000002CCB8D000000003302000000000000F301000000000000E7020000E7000000640000000000000015D00000010000000700000046568201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002D000000000000006F0000000000000077000000000000007F000000000000000800000000000000300010000000803F000000000000803F040000010025001E043C0441043A041D0422042004FF0100000000000000010000000100000028000000280000000000000000000000070000001E043C0441043A041D042204200402000000400000000001070000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000006_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000006_239E4DCF] ON [dbo].[Clients]([phone_number]) WITH STATS_STREAM = 0x01000000010000000000000000000000BEF15E770000000047020000000000000702000000000000E7030000E7000000640000000000000015D00000010000000700000047568201A4AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0410000803F000000000000C041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000370000000000000083000000000000008B0000000000000093000000000000000800000000000000300010000000803F000000000000803F04000001002F002B0037003900390039003100370039003500390035003900FF01000000000000000100000001000000280000002800000000000000000000000C0000002B0037003900390039003100370039003500390035003900020000004000000000010C0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_239E4DCF]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000007_239E4DCF' and object_id = object_id(N'[dbo].[Clients]'))
CREATE STATISTICS [_WA_Sys_00000007_239E4DCF] ON [dbo].[Clients]([Image]) WITH STATS_STREAM = 0x010000000100000000000000000000008C2F008A00000000EB01000000000000AB01000000000000E7020000E7000000640000000000000015D0000095020000070000005BE33000A6AE000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000004000000040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120400000000000000000000000000002F0000000000000037000000000000003F00000000000000FF0100000002000000020000000100000028000000280000000000000000000000000000000100000000000000000002000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Clients]    Script Date: 01.06.2022 1:50:42 ******/
if  exists (select * from sys.stats where name = N'PK_Clients' and object_id = object_id(N'[dbo].[Clients]'))
UPDATE STATISTICS [dbo].[Clients]([PK_Clients]) WITH STATS_STREAM = 0x01000000010000000000000000000000D1CAFF2D00000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000000000000700000094E74401A6AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_0000000E_48CFD27E]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_0000000E_48CFD27E' and object_id = object_id(N'[dbo].[Contracts]'))
CREATE STATISTICS [_WA_Sys_0000000E_48CFD27E] ON [dbo].[Contracts]([Client_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED6A4CE400000000DB010000000000009B01000000000000380313003800000004000A000000000000000000000000000700000094E74401A6AE000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000004040000000000000803F0100000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000F_48CFD27E]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_0000000F_48CFD27E' and object_id = object_id(N'[dbo].[Contracts]'))
CREATE STATISTICS [_WA_Sys_0000000F_48CFD27E] ON [dbo].[Contracts]([Manager_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000EF82B84900000000DB010000000000009B01000000000000380313003800000004000A000000000000000000000000000700000095E74401A6AE000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000004040000000000000803F0100000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000010_48CFD27E]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000010_48CFD27E' and object_id = object_id(N'[dbo].[Contracts]'))
CREATE STATISTICS [_WA_Sys_00000010_48CFD27E] ON [dbo].[Contracts]([Type_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000F1FE3F7200000000FA01000000000000BA01000000000000380300003800000004000A00000000000000000000000000070000009BE74401A6AE000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F010000000400001000140000000040000000000000803F0200000004000003000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Contracts]    Script Date: 01.06.2022 1:50:42 ******/
if  exists (select * from sys.stats where name = N'PK_Contracts' and object_id = object_id(N'[dbo].[Contracts]'))
UPDATE STATISTICS [dbo].[Contracts]([PK_Contracts]) WITH STATS_STREAM = 0x010000000100000000000000000000009A828058000000001902000000000000D901000000000000380300003800000004000A000000000000000000000000000700000091E74401A6AE00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F04000000040000100014000000803F000000000000803F06000000040000100014000000803F000000000000803F0700000004000003000000000000000000000000000000, ROWCOUNT = 11, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000002_276EDEB3] ON [dbo].[Manager]([First_name]) WITH STATS_STREAM = 0x010000000100000000000000000000007C72C6D0000000003702000000000000F701000000000000E7030000E7000000640000000000000015D00000950200000700000031058201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002F0000000000000073000000000000007B0000000000000083000000000000000800000000000000300010000000803F000000000000803F04000001002700180433043D04300442044C0435043204FF010000000000000001000000010000002800000028000000000000000000000008000000180433043D04300442044C043504320402000000400000000001080000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000003_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000003_276EDEB3] ON [dbo].[Manager]([Second_name]) WITH STATS_STREAM = 0x01000000010000000000000000000000EF8A0E4B000000002F02000000000000EF01000000000000E7030000E7000000640000000000000015D00000E70000000700000030058201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002300140430043D04380438043B04FF010000000000000001000000010000002800000028000000000000000000000006000000140430043D04380438043B0402000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000004_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000004_276EDEB3] ON [dbo].[Manager]([Last_name]) WITH STATS_STREAM = 0x01000000010000000000000000000000D397BE49000000004B020000000000000B02000000000000E7030000E7000000640000000000000015D00000000000000700000030058201A4AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0410000803F000000000000D041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000390000000000000087000000000000008F0000000000000097000000000000000800000000000000300010000000803F000000000000803F0400000100310010043B0435043A04410430043D04340440043E04320438044704FF01000000000000000100000001000000280000002800000000000000000000000D00000010043B0435043A04410430043D04340440043E04320438044704020000004000000000010D0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000005_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000005_276EDEB3] ON [dbo].[Manager]([Phone]) WITH STATS_STREAM = 0x01000000010000000000000000000000574902160000000047020000000000000702000000000000E7030000E7000000640000000000000015D00000000000000700000030058201A4AE000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0410000803F000000000000C041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000370000000000000083000000000000008B0000000000000093000000000000000800000000000000300010000000803F000000000000803F04000001002F002B0037003900320039003300360039003100300033003000FF01000000000000000100000001000000280000002800000000000000000000000C0000002B0037003900320039003300360039003100300033003000020000004000000000010C0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000006_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000006_276EDEB3] ON [dbo].[Manager]([Login]) WITH STATS_STREAM = 0x010000000100000000000000000000000BA6867C000000002F02000000000000EF01000000000000E7035835E7000000640000000000000015D0000000000000070000002F058201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002300640061006E00690069006C00FF010000000000000001000000010000002800000028000000000000000000000006000000640061006E00690069006C0002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000007_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000007_276EDEB3] ON [dbo].[Manager]([Password]) WITH STATS_STREAM = 0x010000000100000000000000000000005992540D000000002F02000000000000EF01000000000000E7035835E7000000640000000000000015D00000000000000700000031058201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002300320035003200350032003500FF01000000000000000100000001000000280000002800000000000000000000000600000032003500320035003200350002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_276EDEB3]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000008_276EDEB3' and object_id = object_id(N'[dbo].[Manager]'))
CREATE STATISTICS [_WA_Sys_00000008_276EDEB3] ON [dbo].[Manager]([Image]) WITH STATS_STREAM = 0x010000000100000000000000000000009900C3CA00000000EB01000000000000AB01000000000000E7020000E7000000640000000000000015D00000950200000700000031058201A4AE000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120400000000000000000000000000002F0000000000000037000000000000003F00000000000000FF0100000001000000010000000100000028000000280000000000000000000000000000000100000000000000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Manager]    Script Date: 01.06.2022 1:50:42 ******/
if  exists (select * from sys.stats where name = N'PK_Manager' and object_id = object_id(N'[dbo].[Manager]'))
UPDATE STATISTICS [dbo].[Manager]([PK_Manager]) WITH STATS_STREAM = 0x010000000100000000000000000000009BC94DE900000000FA01000000000000BA01000000000000380300003800000004000A000000000000000000000000000700000099E74401A6AE000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F0200000004000002000000000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_33D4B598]    Script Date: 01.06.2022 1:50:42 ******/
if not exists (select * from sys.stats where name = N'_WA_Sys_00000002_33D4B598' and object_id = object_id(N'[dbo].[Types]'))
CREATE STATISTICS [_WA_Sys_00000002_33D4B598] ON [dbo].[Types]([Name]) WITH STATS_STREAM = 0x010000000100000000000000000000007D791C020000000052040000000000001204000000000000E7030000E7000000640000000000000015D000009502000007000000E0BA8301A4AE00000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000009A9939420000A040000000009A99394200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000083010000000000008E0200000000000096020000000000009E0200000000000028000000000000006300000000000000A000000000000000E9000000000000004201000000000000300010000000803F000000000000803F04000001003B0013043004400430043D044204380439043D044B0439042000400435043C043E043D044204300010000000803F000000000000803F04000001003D00170430043C0435043D04300420003E0431043E044004430434043E04320430043D0438044F04300010000000803F000000000000803F040000010049001E04310441043B04430436043804320430043D043804350420003E0431043E044004430434043E04320430043D0438044F04300010000000803F000000000000803F040000010059001F043E0441044204300432043A04300420003804200043044104420430043D043E0432043A04300420003E0431043E044004430434043E04320430043D0438044F04300010000000803F000000000000803F040000010041001F043E0441044204300432043A04300420003E0431043E044004430434043E04320430043D0438044F04FF01000000000000000500000005000000280000002800000000000000000000005F00000013043004400430043D044204380439043D044B0439042000400435043C043E043D044204170430043C0435043D04300420003E0431043E044004430434043E04320430043D0438044F041E04310441043B04430436043804320430043D043804350420003E0431043E044004430434043E04320430043D0438044F041F043E0441044204300432043A04300420003804200043044104420430043D043E0432043A04300420003E0431043E044004430434043E04320430043D0438044F0407000000400000000081120000008113120000811925000040093E00008118470000010C1900000005000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Types]    Script Date: 01.06.2022 1:50:42 ******/
if  exists (select * from sys.stats where name = N'PK_Types' and object_id = object_id(N'[dbo].[Types]'))
UPDATE STATISTICS [dbo].[Types]([PK_Types]) WITH STATS_STREAM = 0x01000000010000000000000000000000E4E0D699000000001902000000000000D901000000000000380300003800000004000A000000000000000000000000000700000058988301A4AE0000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F0400000004000004000000000000000000000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
USE [master]
GO
